{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
  <h2>Dashboard</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/book-list">Books</a></td>
      </tr>
      <tr>
        <td><a href="/author-list">Authors</a></td>
      </tr>
      <tr>
        <td><a href="/tag-list">Tags</a></td>
      </tr>
    </tbody>
  </table>
</div>

</section>

{% endblock %}
